@use "../../index.scss" as *;

.header {
  background-color: $primaryColor;
  position: relative;
  min-height: 20vh;
  background-image: url("../../../public/images/bg-header-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 800px) {
    background-image: url("../../../public/images/bg-header-desktop.svg");
  }
}
